body {
    height: 100%;
  }
  
  #page-content {
    flex: 1 0 auto;
  }
  
  /* Other Classes for Page Styling */
  
  body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }

  .imagem-carrossel-um{
    object-fit: cover;
    object-position: 0 80%;
    height: 90vh;
}

.imagem-carrossel-dois{
    object-fit: cover;
    object-position: 0 20%;
    height: 90vh;
}

.imagem-carrossel-tres{
    object-fit: cover;
    object-position: 0 30%;
    height: 90vh;
}